.project-tile {
    background: white;
    overflow: hidden;
    border-radius: 12px; 
    border: 1.5px solid #d1d1d1; /* ⬅️ darker gray outline */
  }  
  
  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .project-img-wrapper {
    width: 150px;
    min-width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, white 20%, transparent);
    padding: 10px;
  }
  
  .project-img-wrapper {
    min-width: 300px;
    max-width: 300px;
    padding: 10px;
    background: linear-gradient(to left, white 20%, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .project-img-wrapper img {
    width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: contain;
    opacity: 0.9;
    transition: opacity 0.3s ease;
  }
  
  .project-img-wrapper img:hover {
    opacity: 1;
  }
  
  